body.background{
    position: fixed;
   width: 100%;
   height: 100%;   
}
.background img{
    position: fixed;
    left: 145px;
    border-left: 3px outset black;
    border-right: 3px ridge black;
}
.contentWrapper{
    margin: auto;
    max-width: 1170px;
    padding: 0 3.0em;
}

.headerContent{
    position: fixed;
    height: 175px;
    /* border: 2px solid black; */
    width: 100%;    
    top: 0;
    left: 0px;
    z-index: 1;    
   }
#bannerHead img{
    position: absolute;
    float: left;
    width: 100%;
    border-bottom: 25px inset black;
}
h1{
    position: fixed;
    font-size: 28px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px grey;    
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 400px;
    bottom: .85em;
    z-index: 1;
}
svg.movingBar{
    position: fixed;
    top: -99.6px;
    float: left;
    height : 7em;
    width: 500px;
    /* border: 2px solid black;margin: 0; padding: 0; */
    
}

section#main{
    position: relative;    
    background-size: 100% 100%;
    padding: 12.5em 25.5em 12.5em 25.5em;
    
}

div.panel{
    position: relative;
    margin: 2.5em 2.5em 2.5em ;
    display: inline-block;
    width: 200px;
    height: 275px;
    border: 2px solid gray;
    left: 30em;
    box-shadow: 2px 2px 7px rgb(124, 124, 124); /*offset-x | offset-y | blur-radius | color*/
    align-content: center;
    
}
.panel#dogs{
    background: white url(assets/lilbaby.jpg) no-repeat;
    
}
.panel#kennels{
    background: white;

}
.panel#history{
    background: white;

}
.panel#priority{
    background: white;

}
#butts{
    position: absolute;
    border: 0 outset;
    box-shadow: 2px 2px lightgray;
    bottom: 12px;
    left: 25%;
    background opacity: 75%;
}
div#priority button{
    position: absolute;
    left: 25px;
}
div#kennels button{
    position: absolute;
    left: 45px;
}
div#dogs button{
    position: absolute;
    left: 50px;
}
h2{
    
    position: relative;
    top: 25px;
    text-shadow: 2px 2px white;
    z-index: 1;
}
section#dogHikeVideo{
    
    float: left;
    position: fixed;
    /* border: 2px solid black; */
    width: 750px;
    height: 375px;
    top: 275px;
    left: 220px;
}
iframe {
    position: relative;
}
svg.poly{
    position: absolute;
    float: left;
    top;
}
    



footer{
    position: relative;
    background-color: #40362f;   
    background-size: 100% 100%;   
    opacity: 55%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 100%;
    right: 0px;
    top: 126px;
    margin: 0;
    padding 0 0 0 5px;
    /* text-shadow: 2px 2px 2px 2px white; */
}
footer ul #menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0px;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited{
    color: grey;
    text-decoration: none;
}
footer a:hover{
    columns: #fff;
    text-decoration: underline;
}
